<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>354627260374-hh0rticn41nsp3pm3k1ggk492qjmuhja.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.354627260374-hh0rticn41nsp3pm3k1ggk492qjmuhja</string>
	<key>API_KEY</key>
	<string>AIzaSyAKlp4VZkJ_3EGDxgewqEa5YMbO97O82Rc</string>
	<key>GCM_SENDER_ID</key>
	<string>354627260374</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>hibah.linkProject</string>
	<key>PROJECT_ID</key>
	<string>linkproject-bf385</string>
	<key>STORAGE_BUCKET</key>
	<string>linkproject-bf385.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:354627260374:ios:653db47ce36e91f5091e77</string>
</dict>
</plist>